{% extends "base.html" %}
{% block title %}Admin Login{% endblock %}
{% block content %}
<h2>Admin Login (for approving experiences)</h2>
<form method="post" action="/admin-login">
  <div class="mb-3">
    <label class="form-label">Username</label>
    <input name="username" class="form-control" required/>
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input name="password" type="password" class="form-control" required/>
  </div>
  <button class="btn btn-primary" type="submit">Login</button>
</form>
{% endblock %}
